
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wid
th=device-width, initial-scale=1.0">

    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{~/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{~/css/dashbody.css}">
    <link th:href="@{~/css/admin.css}" rel="stylesheet" />
    <link th:href="@{~/scss/styles.scss}" rel="stylesheet" />
    <script th:src="@{~/javascript/content.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

<body>
<nav class="sidebar close">
    <header>
        <div class="image-text">
                <span class="image">
                    <img th:src="@{~/images/logo.png}">
                </span>
            <div class="text logo-text">
                <span class="name">Harshika Chaudhary</span>
                <span class="profession">Manager</span>
            </div>
        </div>
        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a th:href="@{~/admin/dashboard}">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a th:href="@{~/admin/addTasks}">
                        <i class="bx bx-bar-chart-alt-2 icon"></i>
                        <span class="text nav-text">Tasks</span>
                    </a>
                </li>
<!--                <a th:href="@{~/admin/addTasks}">-->

                <li class="nav-link">
                    <a th:href="@{~/admin/addNotice}">
                        <i class="bx bx-bell icon"></i>
                        <span class="text nav-text">Notices</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a th:href="@{~/admin/leaveSection}">
                        <i class="bx bx-pie-chart-alt icon"></i>
                        <span class="text nav-text">Leave</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a th:href="@{~/admin/employeeSection}">
                        <i class="bx bxl-microsoft-teams icon"></i>
                        <span class="text nav-text">Employees</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a th:href="@{~/admin/addDepartment}">
                        <i class="bx bx-wallet icon"></i>
                        <span class="text nav-text">Department</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li>
                <a th:href="@{~/logout}">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
        </div>
    </div>
</nav>


<section class="home">
    <main>
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</h1>
        <div class="Table">
            <div class="Table">
                <h1>Leaves</h1>
                <table class="Table">
                    <thead>
                    <tr>
                        <th>From Date</th>
                        <th>To Date</th>
                        <th>Subject</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody class="Table-body">
                    <tr th:each = "leave: ${leaveList}">
                        <td th:text = "${leave.fromDate}"></td>
                        <td th:text = "${leave.toDate}"></td>
                        <td th:text = "${leave.subject}"></td>
                        <td th:text = "${leave.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="Table">
                <h1>Tasks</h1>
                <table class="Table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Assigned To</th>
                        <th>Due Date</th>
                        <th>Due Time</th>
                    </tr>
                    </thead>
                    <tbody class="Table-body" >
                    <p th:if="${successMsg}" th:text="${successMsg}"></p>
                    <p th:if="${deleteMsg}" th:text="${deleteMsg}"></p>
                    <tr th:each = "task:${taskList}">
                        <td th:text = "${task.title}"></td>
                        <td th:text = "${task.description}"></td>
                        <td th:text = "${task.assignedTo}"></td>
                        <td th:text = "${task.dueDate}"></td>
                        <td th:text = "${task.dueTime}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
<!--        <div class="insights">-->
<!--            <div class="tasks">-->
<!--                <div class="middle">-->
<!--                    <div class="left"></div>-->
<!--                    <h3>Total Tasks</h3>-->
<!--                    <h1>&nbsp;&nbsp;&nbsp;15</h1>-->
<!--                </div>-->
<!--                <div class="progress">-->
<!--                </div>-->
<!--                <small class="text-muted">Last 24 hours</small>-->
<!--            </div>-->
<!--            &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF TASKS-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->

<!--            <div class="salary">-->
<!--                <div class="middle">-->
<!--                    <div class="left"></div>-->
<!--                    <h3>Total Leave</h3>-->
<!--                    <h1>&nbsp;&nbsp;&nbsp;15</h1>-->
<!--                </div>-->
<!--                <div class="progress">-->
<!--                </div>-->
<!--                <small class="text-muted">Last 24 hours</small>-->
<!--            </div>-->
<!--            &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF Leave INSIGHT-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->


<!--            <div class="notice">-->
<!--                <div class="middle">-->
<!--                    <div class="left">-->
<!--                    </div>-->

<!--                    <h3>Total Notice</h3>-->
<!--                    <h1>&nbsp;&nbsp;&nbsp;15</h1>-->
<!--                </div>-->
<!--                <div class="progress">-->

<!--                </div>-->
<!--                <small class="text-muted">Last 24 hours</small>-->
<!--            </div>-->
<!--            &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF NOTICES INSIGHT -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF INSIGHT -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->


<!--        <div class="recent-tasks">-->
<!--            <h2>-->
<!--                Recent Tasks-->
<!--            </h2>-->
<!--            <table>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Task</th>-->
<!--                    <th>Due Date</th>-->
<!--                    <th>Time</th>-->
<!--                    <th>Status</th>-->
<!--                    <th>Description</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td>Visualize the given data</td>-->
<!--                    <td>12/12/2022</td>-->
<!--                    <td>11:59 pm</td>-->
<!--                    <td class="warning">Pending</td>-->
<!--                    <td class="primary">Description</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>solve these issues </td>-->
<!--                    <td>12/12/2022</td>-->
<!--                    <td>11:59 pm</td>-->
<!--                    <td class="warning">Pending</td>-->
<!--                    <td class="primary">Description</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Visualize the given data</td>-->
<!--                    <td>12/12/2022</td>-->
<!--                    <td>11:59 pm</td>-->
<!--                    <td class="warning">Pending</td>-->
<!--                    <td class="primary">Description</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Visualize the given data</td>-->
<!--                    <td>12/12/2022</td>-->
<!--                    <td>11:59 pm</td>-->
<!--                    <td class="warning">Pending</td>-->
<!--                    <td class="primary">Description</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--            <a th:href="@{~/admin/addTasks}">Show More</a>-->

<!--        </div>-->
    </main>
</section>
<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");

    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    })

    searchBtn.addEventListener("click", () => {
        sidebar.classList.remove("close");
    })
</script>
<script src="https://code.iconify.design/iconify-icon/1.0.5/iconify-icon.min.js"></script>
</body>

</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">-->
<!--    <link th:href="@{~/css/content.css}" rel="stylesheet">-->
<!--    <link th:href="@{~/scss/styles.scss}" rel="stylesheet" />-->
<!--     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->
<!--    <script th:src="@{~/javascript/content.js}"></script>-->
<!--    <title>Admin Dashboard</title>-->
<!--</head>-->

<!--<body>-->
<!--    <div class="Wrapper">-->
<!--        <aside>-->
<!--            <div class="top">-->
<!--                <div class="logo">-->
<!--                    <img th:src="@{~/images/logo.png}">-->
<!--                </div>-->
<!--                <div class="close" id="close_btn">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        close-->
<!--                        </span>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="sidebar">-->
<!--                <a th:href="@{~/admin/dashboard}" class="active">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        dashboard-->
<!--                        </span>-->
<!--                    <h3>Dashboard</h3>-->
<!--                </a>-->
<!--                <a th:href="@{~/admin/addTasks}">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        task-->
<!--                        </span>-->
<!--                    <h3>Task</h3>-->
<!--                </a>-->
<!--                <a th:href="@{~/admin/addDepartment}">-->
<!--                  <span class="material-symbols-sharp">-->
<!--                        groups-->
<!--                        </span>-->
<!--                    <h3>Department</h3>-->
<!--                </a>-->
<!--                <a th:href="@{~/admin/leaveSection}">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        event_available-->
<!--                        </span>-->
<!--                    <h3>Leave</h3>-->
<!--                </a>-->
<!--                <a th:href="@{~/admin/addNotice}">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        announcement-->
<!--                        </span>-->
<!--                    <h3>Notice</h3>-->
<!--                </a>-->
<!--                <a th:href="@{~/admin/employeeSection}">-->
<!--                    <span class="material-symbols-sharp">-->
<!--                        group-->
<!--                        </span>-->
<!--                    <h3>Employee</h3>-->
<!--                </a>-->
<!--                <a th:href="@{~/logout}">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        logout-->
<!--                        </span>-->
<!--                    <h3>Logout</h3>-->
<!--                </a>-->

<!--            </div>-->
<!--        </aside>-->
<!--        &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;END OF ASIDE &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--        <main>-->
<!--            <h1>Dashboard</h1>-->
<!--            &lt;!&ndash; <div class="date">-->
<!--                <input type="date">-->
<!--            </div> &ndash;&gt;-->
<!--            <div class="insights">-->
<!--                <div class="tasks">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        task-->
<!--                        </span>-->
<!--                    <div class="middle">-->
<!--                        <div class="left"></div>-->
<!--                        <h3>Total Tasks</h3>-->
<!--                        <h1>15</h1>-->
<!--                    </div>-->
<!--                    <div class="progress">-->
<!--                        <svg>-->
<!--                                <circle cx="38" cy="38" r="36"></circle>-->
<!--                            </svg>-->
<!--                        <div class="number">-->
<!--                            <p>-->
<!--                                81%-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <small class="text-muted">Last 24 hours</small>-->
<!--                </div>-->
<!--                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF TASKS-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->

<!--                <div class="salary">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        event_available -->
<!--                        </span>-->
<!--                    <div class="middle">-->
<!--                        <div class="left"></div>-->
<!--                        <h3>Total Leave</h3>-->
<!--                        <h1>15</h1>-->
<!--                    </div>-->
<!--                    <div class="progress">-->
<!--                        <svg>-->
<!--                                <circle cx="38" cy="38" r="36"></circle>-->
<!--                            </svg>-->
<!--                        <div class="number">-->
<!--                            <p>-->
<!--                                62%-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <small class="text-muted">Last 24 hours</small>-->
<!--                </div>-->
<!--                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF Leave INSIGHT-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->


<!--                <div class="notice">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        announcement-->
<!--                        </span>-->
<!--                    <div class="middle">-->
<!--                        <div class="left"></div>-->
<!--                        <h3>Total Notice</h3>-->
<!--                        <h1>15</h1>-->
<!--                    </div>-->
<!--                    <div class="progress">-->
<!--                        <svg>-->
<!--                                <circle cx="38" cy="38" r="36"></circle>-->
<!--                            </svg>-->
<!--                        <div class="number">-->
<!--                            <p>-->
<!--                                44%-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <small class="text-muted">Last 24 hours</small>-->
<!--                </div>-->
<!--                &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF NOTICES INSIGHT -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; END OF INSIGHT -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->


<!--            <div class="recent-tasks">-->
<!--                <h2>-->
<!--                    Recent Tasks-->
<!--                </h2>-->
<!--                <table>-->
<!--                    <thead>-->
<!--                        <tr>-->
<!--                            <th>Task</th>-->
<!--                            <th>Due Date</th>-->
<!--                            <th>Time</th>-->
<!--                            <th>Status</th>-->
<!--                            <th>Description</th>-->



<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        <tr>-->
<!--                            <td>Visualize the given data</td>-->
<!--                            <td>12/12/2022</td>-->
<!--                            <td>11:59 pm</td>-->
<!--                            <td>Due</td>-->
<!--                            <td class="warning">Pending</td>-->
<!--                            <td class="primary">Description</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>solve these issues </td>-->
<!--                            <td>12/12/2022</td>-->
<!--                            <td>11:59 pm</td>-->
<!--                            <td>Due</td>-->
<!--                            <td class="warning">Pending</td>-->
<!--                            <td class="primary">Description</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Visualize the given data</td>-->
<!--                            <td>12/12/2022</td>-->
<!--                            <td>11:59 pm</td>-->
<!--                            <td>Due</td>-->
<!--                            <td class="warning">Pending</td>-->
<!--                            <td class="primary">Description</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>Visualize the given data</td>-->
<!--                            <td>12/12/2022</td>-->
<!--                            <td>11:59 pm</td>-->
<!--                            <td>Due</td>-->
<!--                            <td class="warning">Pending</td>-->
<!--                            <td class="primary">Description</td>-->
<!--                        </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--                <a href="#">Show More</a>-->

<!--            </div>-->
<!--        </main>-->
<!--        &lt;!&ndash; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;END OF MAIN-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &ndash;&gt;-->
<!--        <div class="right">-->
<!--            <div class="top">-->
<!--                <button id="menu-btn">-->
<!--                    <span class="material-icons-sharp">-->
<!--                        menu-->
<!--                        </span>-->
<!--                </button>-->

<!--                <div class="profile">-->
<!--                    <div class="info">-->
<!--                        <p>-->
<!--                            Hey,-->
<!--                            <b>John</b>-->
<!--                        </p>-->
<!--                        <small class="text-muted">Admin</small>-->
<!--                    </div>-->
<!--                    <div class="profile-photo">-->
<!--                        <a th:href="@{~/user/profile}"><img th:src="@{~/images/pp.jpg}" alt="avatar" class="avatar"></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="recent-notices">-->
<!--                <h2>Recent Notices</h2>-->
<!--                <div class="Notices">-->
<!--                    <div class="Notice">-->
<!--                        <div class="profile-photo">-->
<!--                            <img th:src="@{~/images/pp.jpg}">-->
<!--                        </div>-->
<!--                        <div class="message">-->
<!--                            <p><b>Mike Tyson</b> All the staffs are requested to be in the meeting hall </p>-->
<!--                            <small class="test-muted">2 minutes ago</small>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="Notice">-->
<!--                        <div class="profile-photo">-->
<!--                            <img th:src="@{~/images/pp.jpg}">-->
<!--                        </div>-->
<!--                        <div class="message">-->
<!--                            <p><b>Danny Tyson</b> On friday, you have a day off </p>-->
<!--                            <small class="test-muted">2 hours ago</small>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="Notice">-->
<!--                        <div class="profile-photo">-->
<!--                            <img th:src="@{~/images/pp.jpg}">-->
<!--                        </div>-->
<!--                        <div class="message">-->
<!--                            <p><b>Mitchell Tyson</b> Open space near the canteen</p>-->
<!--                            <small class="test-muted">5 hours ago</small>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <a href="#">Show More</a>-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->

