
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunday Management System</title>
    <!-- style link -->
    <link th:href="@{~/css/styles.css}"  rel="stylesheet">
    <!-- fontawesome link -->

</head>
<body style=" margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*background: linear-gradient(90deg, rgba(4,170,109,1) 35%, rgba(27, 130, 92) 100%);*/
    height: 100vh;
    overflow: hidden;">
<header class="header">
    <!-- for insertion of logo -->
    <div class="logo">
        <img th:src="@{~/images/logo.png}" alt="">
    </div>
    <!-- nav bar  -->
    <nav class="navbar">
        <a href="#">Home</a>
        <a href="#about">About</a>
        <a href="#quality">Quality</a>
        <a href="#gallery">Contact</a>
    </nav>
    <!-- icons in navbar -->
    <div class="icons">
        <a class="Login-btn" th:href="@{~/user/login}" >Login</a>
    </div>
</header>

<!-- for displaying main page  -->
<!--<div class="homee" th:style="'background:url('+ @{~/images/2.jpg} +')'">-->
<div class="homee">
    <div class="main-homee">
        <div class="homee-inner-content">
            <div class="homee-image">
                <!-- pic inserted -->
                <img th:src="@{~/images/35.png}" alt="" >

            </div>

            <!-- creating css for this  -->
            <div class="homee-inner-content">
                <div class="homee-text-content">
                    <h1>Sunday Management System</h1>
                    <p>Sunday Management is here to make you feel like sunday everyday while working </p>

                </div>
            </div>
        </div>
    </div>

</div>

<section id="about" class="about">
    <div class="main-about">
        <div class="about-content">
            <div class="about-inner-content">
                <img src="https://tinypic.host/images/2023/02/19/women.jpg"
                     class="mx-auto" alt="image">
            </div>
        </div>

        <div class="about-content">
            <div class="about-inner-content">
                <div class="about-text-content">
                    <h1>About us</h1>
                    <p> Sunday Management System is a demo project for the module ST5007CEM Web Development made by Harshika Chaudhary.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Ends Here-->

<section class="quality" id="quality">
    <div class="main-quality">
        <div class="main-inner-quality">
            <div class="quality-content">
                <h1>Our Quality and Values</h1>
                <p> We support on making employees feel like home and work without any stress and provide a platform to perform their tasks </p>
            </div>
        </div>

        <div class="main-inner-quality">
            <div class="quality-content qulity-image">
                <img th:src="@{~/images/employeeMan.jpg}" alt="">
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="main-gallery">
        <div class="inner-gallery">
            <div class="gallery-image">
                <img th:src="@{~/images/coolDoggo.png}" alt="">
            </div>
        </div>

        <div class="inner-gallery">
            <div class="gallery-image">
                <img th:src="@{~/images/coolDoggo.png}" alt="">
            </div>
        </div>

        <div class="inner-gallery">
            <div class="gallery-image">
                <img th:src="@{~/images/coolDoggo.png}" alt="">
            </div>
        </div>


        <div class="inner-gallery">
            <div class="gallery-image">
                <img th:src="@{~/images/coolDoggo.png}" alt="">
            </div>
        </div>


        <div class="inner-gallery">
            <div class="gallery-image">
                <img th:src="@{~/images/coolDoggo.png}" alt="">
            </div>
        </div>

        <div class="inner-gallery">
            <div class="gallery-image">
                <img th:src="@{~/images/coolDoggo.png}" alt="">
                <h1>I am cool Doggo</h1>
            </div>
        </div>
    </div>
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top">&#8593;</button>


<section sec="enjoy-our-food"  th:style="'background:url('+ @{~/images/2.jpg} +')'">
    <div class="food-main-content">
        <h1>Contacts</h1>
        <p> We support on cutting very fewer marks for this project and make Harshika proud for what she made</p>
    </div>
</section>

<footer>
    <p>&copy; 2023 My Website. All rights reserved.</p>
</footer>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

    function topFunction() {
        document.documentElement.scrollTop = 0;
    }

</script>



<script th:src="@{~/javascript/main.js}"></script>

</body>
</html>